<h1><img src="https://emojis.slackmojis.com/emojis/images/1531849430/4246/blob-sunglasses.gif?1531849430" width="30"/> Hey! Nice to see you, My name is {{name}}.</h1>
<p>the last 3 pictures posted by <a href="https://www.instagram.com/sovichetra" target="_blank">@sovichetra</a><br/>
<p><img width="200" src="{{img1}}" /> <img width="200" src="{{img2}}" /> <img width="200" src="{{img3}}" /></p>
Currently, the weather is: <b> {{city_temperature}}°C, <i>{{city_weather}}</i></b></br>Today, the sun rises at <b>{{sun_rise}}</b> and sets at <b>{{sun_set}}</b>.</p>
<h3>Where to find me</h3>
<p><a href="https://github.com/channchetra" target="_blank"><img alt="Github" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" /></a> <a href="https://twitter.com/channchetra" target="_blank"><img alt="Twitter" src="https://img.shields.io/badge/twitter-%231DA1F2.svg?&style=for-the-badge&logo=twitter&logoColor=white" /></a> <a href="https://www.youtube.com/channel/UCWrcugBPmb_Ib9IMBjLFxiQ" target="_blank"><img alt="YouTube" src="https://img.shields.io/badge/youtube-%23fe0108.svg?&style=for-the-badge&logo=youtube&logoColor=white" /></a> <a href="https://www.linkedin.com/in/channchetra/" target="_blank"><img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" /></a>